p {
    max-width: 90%;
    margin:auto;
    margin-bottom: .5em;
}

.Transcript {
    max-width: 60%;
    font-size: large;
    margin:auto;
}

.Transcript p {
    text-indent: 1.5em;
}

h1,h2,h3 {
    width: fit-content;
    margin: auto;
}

li h2, li h3 {
    margin: 0;
}

@media (width < 800) {
    .Transcript {
        max-width: 100%;
    }
}

.FORMAT {
    margin: 2em 1em 5em 1em;
}

.FORMAT p {
    text-indent: 4em;
}

.PORTFOLIO {
    background-color: antiquewhite;
    color:midnightblue
}