p {
    max-width: 90%;
    margin:auto
}

.Transcript {
    max-width: 60%;
    font-size: large;
    margin:auto
}

h1,h2,h3 {
    width: fit-content;
    margin: auto;
}

li h2, li h3 {
    margin: 0;
}

@media (width < 800) {
    .Transcript {
        max-width: 100%;
    }
}